* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    padding-left: 5px;
    padding-bottom: 10px;
}

.construction_window {
    flex-direction: row;
    display: flex;
}

.loading {
    background-color: rgb(0, 0, 0);
    color: white;
    max-width: fit-content;
    max-height: 20px;
    position: fixed;
    
    inset: 0px;
    margin: auto;

    padding: 10px;
    text-align: center;
    border-radius: 25px;

    font-family: Arial, Helvetica, sans-serif;
}

.construction_border {
    border-style: solid;
    border-color: rgb(0, 0, 0);
    border-width: 1px;
    background-color: rgb(255, 255, 255);
    position: absolute;
    left: 10vw;
    right: auto;

}

.component_box {
    padding-left: 1.5vw;
    flex-direction: column;
    display: flex;
}

.component_button {
    width: 7.5vw;
    margin-bottom: 10px;
}